[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
acdh-django-browsing = "==1.0.0"
django = "<4,>=3.2"
requests = ">=2.25"

[dev-packages]

[requires]
python_version = "3.9"
