{% extends "webpage/base.html" %}
{% load static %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

<div class="container">
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <h4>IPIF Repo: {{ repo.endpoint_name }} </h4>
        </div>
    </div>
    <div class="row">
       

        <dl>
            <dt>Endpoint Name</dt>
            <dd>{{ repo.endpoint_name }}</dd>
            <dt>Endpoint Slug</dt>
            <dd>{{ repo.endpoint_slug }}</dd>
            <dt>Provider</dt>
            <dd>{{ repo.provider }}</dd>
            <dt>Description</dt>
            <dd>{{ repo.description }}</dd>
        
        </dl>



    </div>
</div>

{% endblock %}